<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddVehicle</servlet-name>
        <servlet-class>database_insert.AddAndShowVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplaceCar</servlet-name>
        <servlet-class>database_insert.ServiceRepair</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplaceVehicle</servlet-name>
        <servlet-class>database_insert.ReplaceVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDamagedVehicles</servlet-name>
        <servlet-class>database_insert.ShowDamagedVehicles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Renting</servlet-name>
        <servlet-class>database_insert.Renting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecificTypeOfVehicle</servlet-name>
        <servlet-class>database_insert.SpecificTypeOfVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCustomer</servlet-name>
        <servlet-class>database_insert.RegisterCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddVehicle</servlet-name>
        <url-pattern>/AddVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplaceCar</servlet-name>
        <url-pattern>/ReplaceCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplaceVehicle</servlet-name>
        <url-pattern>/ReplaceVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDamagedVehicles</servlet-name>
        <url-pattern>/ShowDamagedVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Renting</servlet-name>
        <url-pattern>/Renting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecificTypeOfVehicle</servlet-name>
        <url-pattern>/SpecificTypeOfVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCustomer</servlet-name>
        <url-pattern>/RegisterCustomer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
